body {
    background-image: url(../img/Facet1.png);
    background-size: cover;
    padding: 0;
    margin: 0;
    position: relative;
    transition: 1s ease-in-out;
}

canvas {
    display: block;
    vertical-align: bottom;
}

#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
}

canvas {
    display: block;
    vertical-align: bottom;
}

.glypharrow {
    bottom: 75px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
    position: absolute;
    font-size: 2.3em;
}

@media screen and (max-device-width: 1000px) and (orientation:landscape) {
    .glypharrow {
        display: none;
    }
}

.glypharrow a:hover {
    text-decoration: none;
}

.content {
    font: 100 2em Lato;
    line-height: 1.6;
    max-height: 20px;
    color: #FFF;
    display: table-cell;
    transition: .3s ease-in-out;
    text-align: center;
}

.modal {
    min-height: 100%;
    min-width: 100%;
    border-radius: 0;
    top: 0px !important;
}

#slide-out {
    z-index: 1003;
    position: fixed !important;
    font-family: Lato;
    text-transform: uppercase;
}

#logo-container {
    height: 100px;
    margin-bottom: 32px;
    padding-top: 10px;
    background-color: white;
}

#front-page-logo {
    display: inline-block;
    pointer-events: none;
    margin: auto;
    display: block;
    width: 100px;
    height: 100px;
}

.bold>a {
    font-weight: bold;
}

@media(max-width: 948px) {
    .content {
        font-size: 1.5em;
    }
}

@media(max-width: 550px) {
    .content {
        font-size: 1.5em;
    }
}

@media(max-width: 458px) {
    .content {
        font-size: 1.3em;
    }
}

@media(max-width: 377px) {
    .content {
        font-size: 1.1em;
    }
}

@media(max-width: 321px) {
    .content {
        font-size: 1.0em;
    }
}

@media screen and (max-device-height: 527px) and (orientation:landscape) {
    .content {
        font-size: 1.1em;
    }
}

.header-text {
    font: 100 10em Lato;
    color: #FFF;
    color: rgba(255 255 255);
    font-weight: 250;
    text-align: center;
    background-size: cover;
    text-transform: uppercase;
    transition: .7s ease-in-out;
}

.subheader-text {
    font: 100 6em Lato;
    color: #FFF;
    color: rgba(255 255 255);
    font-weight: 250;
    text-align: center;
    background-size: cover;
    text-transform: uppercase;
    transition: .7s ease-in-out;
}

.subheader-text2 {
    font: 100 3em Lato;
    color: #FFF;
    color: rgba(255 255 255);
    font-weight: 250;
    text-align: center;
    background-size: cover;
    text-transform: uppercase;
    transition: .7s ease-in-out;
}

.borders {
    position: fixed;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    border: 1px solid rgba(255, 255, 255, .1);
}

@media(max-width: 1350px) {
    .header-text {
        font-size: 5em;
    }
}

@media(max-width: 1350px) {
    .subheader-text {
        font-size: 3em;
    }
}

@media(max-width: 550px) {
    .header-text {
        font-size: 3em;
    }
}


/*Hamburger*/

#nav-icon3 {
    width: 30px;
    height: 20px;
    top: 25px;
    right: 24px;
    z-index: 1002;
    position: fixed;
}

#nav-icon3 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #FFFFFF;
    border-radius: 0px;
    opacity: 1;
    left: 0;
}

#nav-icon3 span:nth-child(1) {
    top: 0px;
}

#nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
    top: 8px;
}

#nav-icon3 span:nth-child(4) {
    top: 16px;
}

#nav-icon3.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%
}

#x {
    font-size: 75px;
    color: indianred;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    float: right;
    margin-left: auto;
    left: auto;
    right: auto;
    padding-right: 20px;
    margin-top: -20px;
 
}

#x:hover {
    color: #cc0000;
}

body.modal-open {
    overflow: hidden;
    position: fixed;
}

.exit-btn {
    margin-bottom: 50px;
    margin-top: 20px;
    background-color: indianred;
}

.exit-btn:hover {
    background-color: #cc0000;
}

/*Timeline*/

.timeline {
  position: relative;
    padding-top: 150px;
}

.timeline .timeline-event {
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
}

.timeline .timeline-event .timeline-content {
  position: relative;
  width: calc(50% - 50px);
}

.timeline .timeline-event::before {
  display: block;
  content: "";
  width: 2px;
  height: calc(50% - 30px);
  position: absolute;
  background: #d2d2d2;
  left: calc(50% - 1px);
  top: 0;
}

.timeline .timeline-event::after {
  display: block;
  content: "";
  width: 2px;
  height: calc(50% - 30px);
  position: absolute;
  background: #d2d2d2;
  left: calc(50% - 1px);
  top: calc(50% + 30px);
}

.timeline .timeline-event:first-child::before {
  display: none;
}

.timeline .timeline-event:last-child::after {
  display: none;
}

.timeline .timeline-event:nth-child(even) .timeline-content {
  margin-left: calc(50% + 50px);
}

.timeline .timeline-event:nth-child(odd) .timeline-content {
  margin-left: 0;
}

.timeline .timeline-badge {
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  background: #d2d2d2;
  top: calc(50% - 20px);
  right: calc(50% - 20px);
  border-radius: 50%;
  text-align: center;
  cursor: default;
}

.timeline .timeline-badge i {
  font-size: 25px;
  line-height: 40px;
}

@media (max-width: 600px) {
  .timeline .timeline-event .timeline-content {
    width: calc(100% - 70px);
  }
  .timeline .timeline-event::before {
    left: 19px;
  }
  .timeline .timeline-event::after {
    left: 19px;
  }
  .timeline .timeline-event:nth-child(even) .timeline-content {
    margin-left: 70px;
  }
  .timeline .timeline-event:nth-child(odd) .timeline-content {
    margin-left: 70px;
  }
  .timeline .timeline-badge {
    left: 0;
  }
}

@media only screen and (max-width: 414px), screen and (max-height: 414px) {
  #fp-nav {
    display: none !important;
  }
}

.border-img {
    margin-top: 15px;
    margin-bottom: 15px;
   
}

.flow-text {
    font-size: 20px;
}

.video {
    max-width: 100%;
    max-height: 100%;
}

@media only screen and (max-height: 400px) {
    .card-image {
        display: none;
    }
}