/* Hi ;) */
body {
    background: url(../img/Header.jpg) no-repeat center fixed;
    background-size: cover;
    padding: 0;
    margin: 0;
    position: relative;
    transition: 1s ease-in-out;
}

canvas {
    display: block;
    vertical-align: bottom;
}


#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
}

canvas {
    display: block;
    vertical-align: bottom;
}
.glypharrow {
    bottom: 75px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
    position: absolute;
    font-size: 2.3em;
    
}

@media screen and (max-device-width: 1000px) and (orientation:landscape){
    .glypharrow {
        display:none;
    }
}

.glypharrow a:hover {
     text-decoration: none;
}

.content {
    font: 100 2em Lato;
    line-height: 1.6;
    max-height: 20px;
    color: #FFF;
    display: table-cell;
    transition: .7s ease-in-out;
}

@media(max-width: 948px) {
    .content {
        font-size: 1.5em;
    }
}

@media(max-width: 550px) {
    .content {
        font-size: 1.5em;
    }
}

@media(max-width: 458px) {
    .content {
        font-size: 1.3em;
    }
}
@media(max-width: 377px) {
    .content {
        font-size: 1.1em;
    }
}
@media(max-width: 321px) {
    .content {
        font-size: 1.0em;
    }
}
@media screen and (max-device-height: 527px) and (orientation:landscape){
    .content {
        font-size: 1.1em;
    }
}

.header-text {
    font: 200 10em Lato;
    color: #FFF;
    color: rgba(255 255 255);
    font-weight: 250;
    text-align: center;
    background-size: cover;
    text-transform: uppercase;
    transition: .7s ease-in-out;

}

.borders {
    position: fixed;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    border: 1px solid rgba(255, 255, 255, .1);
}

@media(max-width: 1000px) {
    .header-text {
        font-size: 5em;
    }
}

@media(max-width: 550px) {
    .header-text {
        font-size: 3em;
    }
}


    
