@arrow-blue: #00B0FF;
@dark-blue: #005780 ;
@dark-gray: #080808;
@grey-50: #ECEFF1;

@font-face {
    font-family: open-sans;
    src: url(fonts/open-sans/OpenSans-Light.ttf);
}

@font-face {
    font-family: Rajdhani;
    src: url(fonts/Rajdhani/Rajdhani-Regular.ttf)
}

body {
    font-family: Rajdhani;
}

h1 {
   font-size: 70px;
   display: table;
   color: @arrow-blue;
}

.text-box {
    display: table;
    margin: 0 auto;
}

#typed-1 {
    color: white;
    font-size: 22px;
    strong {
        color: @arrow-blue;
    }
}

.typed-cursor {
    color: @arrow-blue;
    font-size: 24px;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@-webkit-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@-moz-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

#particles-js {
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    z-index: -1;
    background-color: @dark-gray;
}

.nav-button-container {
    width: 360px;
}

.nav-button {
    // background-color: @grey-50;
    width: 110px;
    border: 0;
}

#nb1 {
    background-color: @dark-blue;
}
#nb2 {
    background-color: @dark-blue + #080808;
}
#nb3 {
    background-color: @dark-blue + #111111;
}
#nb4 {
    background-color: @dark-blue + #181818;
}
#nb5 {
    background-color: @dark-blue + #222222;
}
#nb6 {
    background-color: @dark-blue + #282828;
}

.front-page-text-box {
    width: 300px;
}

.next-page-arrow {
    position: absolute;
    left: 50%;    
    bottom: 10px;
    a {
        color: @arrow-blue;
        font-size: 36px;
        text-decoration: none;
    }
    margin-left: -18px
}