
body {
    background-color: #FFFFFF;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }
  .header{
    font-family: 'Roboto';
    font-weight: 100;
    font-size: 80px;
  }
  .subHeader{
      font-family: 'Roboto';
      font-weight: 100;
      font-size: 30px;
  }
  #fp-nav ul li .fp-tooltip{
      color: #000000;
  }
#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index:1;
  }
  ::-moz-selection{
    background-color:Transparent;
    color:#000;
    }

    ::selection {
    background-color:Transparent;
    color:#000;
    }
.myclass::-moz-selection,
.myclass::selection { ... }
.pageStyle{
    position: absolute;
    left:0;
    top:0;
}
.pageStyle2{
    position: absolute;
    left:0;
    top:0;
}
@media only screen and (max-width: 600px){
    .pageStyle2{
        position:relative;
        padding-bottom: 1em;
    }
    
    .table-szn{
        font-size: 7pt;
    }
    
    #fp-nav.fp-right{
        display: none;
    }
}
@media only screen and (max-width: 768px){

    .table-szn{
        font-size: 8pt;
    }
}
.content{
    background-color: #FFFFFF;
    padding: 20px;
    color: #000000;
    font-family: 'Roboto';
    font-weight: 100;
    font-size: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.table-szn{
    background-color: transparent;
    font-family: 'Roboto';
}
.sznImg{
    width: 30px;
}
.sznHeader{
    width: 85px;
    margin-left: 20px;
}
.sznBtn{
    color: #000;
    background-color: #FFFFFF;
    border-color: #000000;
    border-radius: 0px;
    font-family: 'Roboto';
    width: 200px;
    z-index: 1000;
    position:relative;
    
}
.sznBtnNav{
    color: #000;
    background-color: #FFFFFF;
    border-color: #000000;
    border-radius: 0px;
    font-family: 'Roboto';
    width: 200px;
    z-index: 1000;
    position:relative;
    
}
.blogHead{
    font-size: 28;
    font-family: 'Roboto';
    font-style: bold;
}
@media only screen and (max-width: 500px) {
    .sznBtnNav {
      margin-bottom: 5px;
    }
  }
  .blogNav{
      width: 3%;
      position: absolute;
      top: 50%;
      right: 10%;
  }
.btn{
    z-index: 200;
}
.Mainmodal-dialog {
    overflow-y:scroll;
    min-width: 100%;
    padding-left: 0px !important;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
}

.Mainmodal-content {
    height: auto;
    min-height: 100%;
    min-width: 100%;
    background-color: #FFFFFF !important;
    color: #FFFFFF;
    border: none !important;
    border-radius: 0px !important;
    position:fixed;
    overflow:hidden;
}


.Mainmodal-footer {
    border: none !important;
}
.exitIcon{
    width: 20px !important;
    height: 20px !important;
    float: right;
    margin: 20px;
}

  .modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 0;
    border: 0;
    border-radius: 0;
    outline: 0;
    max-height: 500px;
    overflow: scroll;
  }
iframe {
    overflow: scroll;
    max-width: 100%;
    z-index: 50;
    height: auto; 
}